@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
body {
    background-image: url("https://i.pinimg.com/originals/97/0e/f8/970ef83d6bc79afaaf5dd80f6978846c.png");
    background-repeat: no-repeat;
    background-size: 100vh;
    background-size: 100vw;
    font-family: 'Cairo', sans-serif;
    color: #f5f9f7;
}
.container {
    display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}
.container #videoDiv {
    opacity: 0.5;
}
.text {
    border-radius: 15px;
    border: 1px solid red;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 10px;
}
.text a {
    text-decoration: none;
    color: #f5f9f7;
}
.modal {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    margin: 10px 5px;
    border-radius: 15px;
    border: 1px solid red;
    width: 600px;
    max-width:  100%;
    color: #f5f9f7;
}
.show {
    opacity: 1;
    pointer-events: auto;
}
.btns {
    display: flex;
    justify-content: space-around;
}
#open, #start {
    cursor: pointer;
    border-radius: 5px;
}
#cloud{
    width: 180px;
    opacity: 0.7;
    animation: slide 10s infinite;
}
#sliding{
    width: 180px;
    opacity: 0.7;
    animation: slide 10s infinite;
}
@keyframes slide {
	90% {transform: translate(500px, 0px)}
}
