* {
    font-family: 'Bubblegum Sans', cursive;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* background-color: #F9EE54;
    background-color: #F3A903;
    background-color: #A56106;
    background-color: #181463;
    background-color: #2955DC; */
    background-color: #EFE1CD;
}

.navbar {
    background-color: #2955DC;
    color: #EFE1CD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    width: 100%;
}

a {
    color: #EFE1CD
}

#logo, ul {
    font-size: 2rem;
    margin: 1rem;
}

nav ul li {
    display: inline;
    padding: 1rem;
}

a:hover {
  text-decoration: underline;
}

#rain {
    display: none;
}

section {
    padding: 3rem;
}

.btns {
    padding: 1rem;
    font-size: 2rem;
    background-color: #A56106;
    cursor: pointer;
    border-radius: 30px;
}

.btns a {
    text-decoration: none;
}

#home, #about #rules, #levels, #vote {
    font-size: 2rem;
    color: 'black';
    height: 100vh;
}

#home, #name   {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sliding{
    animation: slide 10s infinite;
}

@keyframes slide {
	90% {transform: translate(500px, 0px)}
}

iframe {
    opacity: 0.8;
    pointer-events: none;
}

#videoDiv iframe {
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}

@media (max-width: 700px) {
    #logo {
        padding: 4px;
        width: 100%;
        margin: 0;
    }

    #rain {
        display: flex;
        justify-content: center;
    }

    #rain img {
        border-radius: 30%;
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    ul li a:hover {
        width: 50%;
        background-color: #EFE1CD;
        color: #2955DC;
        text-decoration-line: none;
    }

    .navbar, section {
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    section {
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #videoDiv {
        display: none;
    }
}

@media (max-width: 1200px) {
    #sliding {
        display: none;
    }
}
