@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
body {
    background-image: url("https://i.pinimg.com/originals/97/0e/f8/970ef83d6bc79afaaf5dd80f6978846c.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: 100%;
    font-family: 'Cairo', sans-serif;
    color: #f5f9f7;
}
.dark {
    background: #000;
    color: #fff;
}
.playground {
    display: flex;
    flex-wrap: wrap;
}
.playground > div {
    flex: 1 1 10px;
    height: 10%;
}
#videoDiv {
    display: flex;
    justify-content: flex-start;
    padding: 50px;
    width: 30%;
    margin: 0;
}
#videoDiv iframe {
    opacity: 0.5;
}
#videoDiv p {
    background: rgba(126, 115, 204, 0.2)
}
#tamagotchi {
    border: 5px solid yellow;
    background-color: rgba(126, 115, 204, 0.6);
}
img {
    border-radius: 50%;
    margin: 35px;
}
.btns {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Cairo', sans-serif;
    padding: 10px;
    cursor: pointer;
}
.vegetaStats {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 1em;
    font-size: 2rem;
    color: #1200FF;
}
#loser {
    opacity: 0;
    cursor: pointer;
}
.displayVegeta {
    justify-content: center;
}
#vegeta {
    width: 8em;
    height: 8em;
}
#playAgain {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
#sliding{
    height: 5%;
    width: 50%;;
    opacity: 0.7;
    animation: slide 10s infinite;
}
@keyframes slide {
	90% {transform: translate(-500px, 0px)}
}
.extras  * {
    height: 10vh;
}
.extras iframe {
    margin-left: -10%;
}
p {
   color: white;

}
@media screen and (max-width: 1060px) {
    .container { width:67%; }
    /* #secondary { width:30%; margin-left:3%;}   */
}
