* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Bubblegum Sans', cursive;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    line-height: 1;
    background-color: #EFE1CD;
}

.navbar {
    background-color: #2955DC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1em;
}

nav ul li {
    display: inline;
    padding: 2em;
}

footer {
    background-color: #2955DC;
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
    font-size: 1.5rem;
}

footer ul li {
    display: inline;
    padding: 1em;
}

a {
    color: #EFE1CD
}

a:hover {
  text-decoration: underline;
}


section {
    padding: 2em 0;
}

.level {
    display: inline-block;
    justify-content: center;
    padding-left: 45%;
    font-size: 1.6rem;
}

.visual-aid, .game-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main {
    min-height: 100vh
}

.visual-aid {
    pointer-events: none;
}

.yt iframe {
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.content {
    border: 1rem groove #A56106;
    padding: 0 5em;
}

.game-over {
    border: none;
}

.btns {
    text-align: center;
    font-size: 2rem;
    padding: 1em;
}

.btn, .big-bang-attack {
    justify-content: space-evenly;
    cursor: pointer;
    padding: 0.25em 0.5em;
    border: .1em solid black;
    border-radius: 1em;
}

.btn:hover, .big-bang-attack:hover {
    background-color: #2955DC;
    color: #EFE1CD;
}

.disabled {
    cursor: not-allowed;
    background-color: red;
}

.disabled:hover {
    background-color: red;
}

#board {
    font-size: 1.4rem;
}
